{
  "extends": [
    "next",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "@next/next/no-document-import-in-page": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "printWidth": 80,
        "react/prop-types": "off",
        "singleQuote": false,
        "trailingComma": "es5",
        "semi": false
      }
    ]
  }
}
